<template>
  <div class="like-counter-and-action">
    <span>{{ likeCount }} <i class="far fa-thumbs-up"></i></span>
    <a @click.prevent="toggleLike" href="javascript:void(0);">{{ label }}</a>
    <a :href="taTarget">Comment</a>
  </div>
</template>

<script>
  export default {
    mounted() {
      this.liked = this.isLiked;
      this.likeCount = this.count;
    },
    props: {
      isLiked: Boolean,
      count: Number,
      postId: Number
    },
    data() {
      return {
        liked: false,
        likeCount: 0,
      }
    },
    computed: {
      taTarget() {
        return '#p-' + this.postId + '-comment-ta';
      },
      label() {
        if (this.liked) {
          return 'Unlike';
        }

        return 'Like';
      }
    },
    methods: {
      toggleLike() {
        this.liked ? this.unlikePost() : this.likePost();

      },
      likePost() {
        axios.post('/post/' + this.postId + '/likes').then(() => {
          this.likeCount++;
          this.liked = !this.liked;
        })
      },
      unlikePost() {
        axios.delete('/post/' + this.postId + '/likes').then(() => {
          this.likeCount--;
          this.liked = !this.liked;
        })
      }
    }
  }
</script>

<style lang="scss">
  .like-counter-and-action {
    display: inline-block;
  }
</style>