
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//html {
//  font-size: 1rem;
//}
//
//@include media-breakpoint-up(sm) {
//  html {
//    font-size: 1.1rem;
//  }
//}
//
//@include media-breakpoint-up(md) {
//  html {
//    font-size: 1.1rem;
//  }
//}
//
//@include media-breakpoint-up(lg) {
//  html {
//    font-size: 1.1rem;
//  }
//}

.post-wrapper {
  margin-bottom: 15px;
}

.user-card-wrapper {
  margin-top: 15px;
  .inner-wrapper {
    padding: 15px 15px;
  }
}

a.profile-name {
  font-size: 1.05rem;

  color: $dark-blue;
  font-weight: bold;

  &:hover {
    color: $dark-blue;
  }
}


$comments-font-size: 0.85rem;
.comments-wrapper {
  font-size: $comments-font-size;

  textarea {
    font-size: $comments-font-size;
  }

  .profile-name {
    font-size: inherit;
  }
  
  .comment {
    background-color: #f2f3f5;
    margin-bottom: 0.25rem;

    .comment-img-wrapper {
      $img-sm-size: 42px;
      width: $img-sm-size;
      max-height: $img-sm-size;
      img {
        width: $img-sm-size;
      }

      @include media-breakpoint-up(md) {
        $img-md-size: 60px;
        width: $img-sm-size;
        max-height: $img-sm-size;
        img {
          width: $img-sm-size;
        }
      }

    }

    .body {
      line-height: 1.2;
      flex: auto;
    }
  }
}

.post-actions-wrapper {
  a, span {
    color: $dark-blue;
    margin-right: 0.4rem;
    
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}